<launch>

    <arg name="joy_dev" default="/dev/input/js0" />
    <arg name="joystick" default="true" />

    <rosparam command="load" file="$(find jackal_control)/config/teleop.yaml" />
    <param name="joy_node/dev" value="$(arg joy_dev)" />
    <param name="teleop_twist_joy/enable_button" value="4" />
    <param name="teleop_twist_joy/enable_turbo_button" value="0" />

    <node pkg="joy" type="joy_node" name="joy_remote_node" />


</launch>
